$font-primary: "IBM Plex Sans", sans-serif;
$font-brand: "Daniel", sans-serif;

$color-primary: #ecf0f1;
$color-secondary: #2c383c;
$color-header: #577076;
$color-subheader: #161d1e;

$color-tag: rgba(111, 111, 111, 0.5);

$color-bg1: #fff;
$color-bg2: #e6e6e6;

$bp-lg: 64em; // 1024px
$bp-md: 54.25em; // 868px
$bp-sm: 40em; // 640px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    line-height: 1.4;
    letter-spacing: .05rem;

    outline-color: $color-header;
}

*::selection {
    background-color: $color-header;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient($color-bg1, $color-bg2);
    box-shadow: inset 5px 5px 50px rgba($color-secondary, 0.5);
}

@media only screen and (max-width: $bp-lg) {
    html {
        font-size: 56.25%;
    }


}

@media only screen and (max-width: $bp-md) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width: $bp-sm) {
    html {
        font-size: 52.5%;
    }

    .contact-link {
        width: 100%;
    }
}