.quote-box {
    max-width: 126rem;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    color: $color-header;
    margin: 0 auto 1rem auto;
    font-size: 1.6rem;
    text-align: center;

    .text::before {
        content: "\201C";
        line-height: 0;
        height: 0;
        font-size: 3.6rem;
        margin-right: 1rem;
        color: $color-subheader;
    }
}

.author-box {
    color: $color-subheader;
    font-size: 1.4rem;
    font-weight: 500;
    font-style: italic;
    margin: 0 auto;
}  

.other-qualifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.qualification {
    padding: .5rem .75rem;
    background-color: $color-tag;
    color: $color-subheader;
    border-radius: 2px;
    cursor: default;
    font-size: 1.4rem;
    font-weight: 500;
    vertical-align: top;
    transition: all .35s;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &:hover {
        padding: .5rem 1.5rem;
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contact-link {
    color: $color-primary;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem;
    background-color: $color-tag;
    border-radius: 2px;
    vertical-align: top;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.about-me,
.education,
.self-teaching,
.skills {
    &:hover {
        h2 {
            text-decoration: underline;
        }
    }
}